body {
  padding-top: 51px;
}

@media screen and (min-width: 468px) {
   #mainTitle {
    font-size: 180px
   }
}


.jumboMain {
  background-image: url(../images/library.jpg);
  background-size: cover;
  height: 1100px;
}

#brand {
  color: white;
}

#buyButton {
  margin-right: 50px;
}

#mainTitle {
  color: white;
  margin-top: 75px;
}

.feature {
  background-image: url(../images/mountainBooks.jpg);
  background-size: cover;
  height: 650px;
  margin-top: -30px;
}

.featureTwo {
  background-color: #383838;
  height: 600px;
  margin-top: -30px;
}

#mainFeature {
  color: white;
}

#submitSearch {
  margin-top: 20px;
}

#mountainBooks {
  width: 900px;
  height: 400px;
}

#featureText {
  color: white;
  margin-top: 230px;
}

#openBook {
  width: 600px;
  height: 200px;
}

#featureTextTwo {
  color: white;
  margin-top: 65px;
}

#carryBooks {
  margin-top: 65px;
}

.featureThree {
  background-image: url(../images/booksStacked.jpg);
  background-size: cover;
  height: 650px;
  margin-top: -30px;
}

#featureTextThree {
  color: white;
}

.featureThreeText {
  color: white;
}