body {
  padding-top: 51px;
}

.jumboMain {
  background-image: url(../images/library.jpg);
  background-size: cover;
  height: 1100px;
}

#mainTitle {
  color: white;
  font-size: 180px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 75px;
}

#mainFeature {
  color: white;
  font-size: 75px;
  font-family: 'Open Sans', sans-serif;
}